<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>My Webside</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS_Selectors.css') }}"/>
</head>
<body>
    <div class="welcome">歡迎光臨請輸入帳號密碼</div>
    <div class="UI">
        <div id="titleText">登入系統</div>
        
        <form action="signin" method="POST" onsubmit="return agree();">
            <div id="titleText">帳號：<input type="text" name="account" /></div>
            <div id="titleText">密碼：<input type="password" name="password" /></div>
            <div style="text-align: center;font-size: 16px;margin: 5px;">同意條款<input type="checkbox" id="agreeCheckbox"></div>
            <div id="titleText"><button>登入</button></div>
        </form>

    </div>
    <script>
        function agree()
        {
            var agreeCheckbox = document.getElementById('agreeCheckbox');
            if (!agreeCheckbox.checked) 
            {
                alert('請優先檢查複選框。');
                return false; 
            }
            return true;
        }
    </script>
</body>
</html>